<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"" rel="stylesheet"/>
    <link href="../../../../css/course-landing/course-landing.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title> Learning Aims</title>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-xs-2">
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="hidden-sm hidden-xs">CS9999</span>
                </a>
            </div>
            <div class="col-md-6 col-xs-8 navbar-brand">
                Edit Course content
            </div>
            <div class="col-md-1 col-xs-1 nav-bar-plus">
                <a href="website-list.html">
                    <span class="glyphicon glyphicon-ok pull-right span-plus" aria-hidden="true"></span>

                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 hidden-sm hidden-xs website-new-column website-new-border">
            <ul class="list-group">
                <li class="list-group-item boarder-none">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="../general.html">
                                General
                            </a>
                        </div>
                        <div class="col-xs-1">
                            <a href="../general.html">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item boarder-none">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="../learningaims.html">
                                Learning Aims
                            </a>
                        </div>

                        <div class="col-xs-1">
                            <a href="../learningaims.html">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item boarder-none">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="../requirements.html">
                                Requirement
                            </a>
                        </div>
                        <div class="col-xs-1">
                            <a href="../requirements.html">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item boarder-none">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="curriculum.instructor.view.client.html">
                                Curriculum
                            </a>
                        </div>
                        <div class="col-xs-1">
                            <a href="curriculum.instructor.view.client.html">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item boarder-none">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="profile.instructor.view.client.html">
                                Instructor
                            </a>
                        </div>
                        <div class="col-xs-1">
                            <a href="profile.instructor.view.client.html">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item boarder-none">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="reviews.instructor.view.client.html">
                                Reviews
                            </a>
                        </div>
                        <div class="col-xs-1">
                            <a href="reviews.instructor.view.client.html">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <div class="col-md-8 ">
            <div class="col-xs-12 visible-xs">
                <h3 class="yw-pageTitle">Reviews</h3>
            </div>
            <label for="reviewTitle">Title </label>
            <input id="reviewTitle"
                   class="form-control"
                   value="Best Course Ever!"/>
            <label for="reviewDetails">Reviews Details </label>
            <textarea id="reviewDetails"
                      class="form-control"
                      ng-model="Reviews Details"
                      rows="6">Perfect for students interested in web development.</textarea>
            <a href="website-list.html" class="btn btn-block btn-success">Add</a>
            <a href="website-list.html" class="btn btn-block btn-danger">Delete</a>
        </div>



    </div>
</div>

</body>






