div.input-group{
    padding-top:10px;
}
img.w3-image{
    height:480px;
    width:1500px;
}

.navbar-default.navbar-brand{
    color: black;
}
a.navbar-brand.btn{
    font-size: 17px;
    color: black;
}

div.courses{
    padding-top: 20px;
    max-width:1564px;
    margin-top: 430px;
}


img.img-responsive{
    height: 200px;
}

.image{
    max-width:1500px;
    position: absolute;
    top: 0;
    left: 0;
}
div.list-courses{
    padding-top: 15px;

}
.yw-container{
    margin-top: 70px;
}

input.form-control,
textarea.form-control,
select.form-control{
    margin-bottom: 5px;
}
.list-group-item.active a{
    color:white;
}

h3.yw-pageTitle{
    text-align: center;
    color:#9d9d9d;
}
img.yw-course{
    width: 100%;
    min-height: 50%;
}
.yw-courseBox{
    border: 1px solid #bcbcbc;
    margin: auto;
    margin-bottom: 20px;
    min-height: 250px;
}
.yw-courseInfo{
    margin-left: 15px;

}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
.yw-row{
    width: 90%;
    margin: auto;
    padding-top: 15px;
}
.showCourseInfo{
    opacity: 0;
}
#yw-courseBox:hover + #showCourseInfo{
    opacity: 1;
}
.yw-course.blank{
    display: block;
    margin: auto;
    width: 60%;
}
@media (min-width: 768px){
    /*if the screen is smaller than 768, this rule does not apply*/
    .yw-courseBox{
        min-height: 270px;
    }
}