div.input-group{
    padding-top:10px;
}
img.w3-image{
    height:480px;
    width:1500px;
}

.navbar-default.navbar-brand{
    color: black;
}
a.navbar-brand.btn{
    font-size: 17px;
    color: black;
}

div.courses{
    padding-top: 20px;
    max-width:1564px;
    margin-top: 430px;
}


img.img-responsive{
    height: 200px;
}

.image{
    max-width:1500px;
    position: absolute;
    top: 0;
    left: 0;
}
div.list-courses{
    padding-top: 15px;

}
