<div class="col-md-8 ">
    <label for="Learning Objectives">Learning Objectives</label>
    <input id="Learning Objectives"
           class="form-control"
           value="Aims"
           type="text"
           placeholder="Learning Objectives"/>

    <label for="LearningObjectives2">Learning Objectives</label>
    <input id="LearningObjectives2"
           class="form-control"
           value="Aims"
           type="text"
           placeholder="Learning Objectives"/>
    <label for="Learning Objectives3">Learning Objectives</label>
    <input id="Learning Objectives3"
           class="form-control"
           value="Aims"
           type="text"
           placeholder="Learning Objectives"/>

    <label for="Learning Objectives4">Learning Objectives</label>
    <input id="Learning Objectives4"
           class="form-control"
           value="Aims"
           type="text"
           placeholder="Learning Objectives"/>

    <label for="Learning Objectives5">Learning Objectives</label>
    <input id="Learning Objectives5"
           class="form-control"
           value="Aims"
           type="text"
           placeholder="Learning Objectives"/>

    <label for="Learning Objectives6">Learning Objectives</label>
    <input id="Learning Objectives6"
           class="form-control"
           value="Aims"
           type="text"
           placeholder="Learning Objectives"/>
