
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Learning_Objectives</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../../css/course-landing.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="menubar">-->
        <!--<div class="col-xs-7 col-sm-4 col-lg-2">-->
            <!--<div class="navbar-header">-->
                <!--<a class="navbar-brand " href="#"><b>Education Portal</b></a>-->
            <!--</div>-->
        <!--</div>-->


        <!--</div>-->

        <!--<div class="col-sm-1 hidden-xs">-->
        <!--</div>-->
        <!--<div class="col-sm-1 hidden-xs">-->
            <!--<div class="navbar-header">-->
                <!--<a class="navbar-brand btn" href="#">Login</a>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-sm-1 hidden-xs">-->
            <!--<div class="navbar-header">-->
                <!--<a class="navbar-brand btn" href="#">Register</a>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</nav>-->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#">SITE HEADER</a>
        </div>


        <div class="col-xs-5 ">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#about">SAMPLE</a>
                </li>
                <li>
                    <a href="#services">SAMPLE</a>
                </li>
                <li>
                    <a href="#contact">SAMPLE</a>
                </li>
            </ul>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="input-group">
                <input type="text"
                       placeholder="Search Courses"
                       class="form-control">
                <span class="input-group-btn">
            <a  href="#"
                class="btn btn-default"
                type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
            </span>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

    <div class="jumbotron">
        <div class="container">
            <h1>Hello, Faculty!</h1>
            <h4> Welcome to course editing page!</h4>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>

<div class="courses">

    <!-- Project Section -->
    <div class=container-fluid id="course">
        <h3>Courses</h3>
    </div>
    <div class="list-courses">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="http://radiozdk.com/main/wp-content/uploads/2016/09/COMP.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="http://www.softprocomp.com/ding/wp-content/uploads/2015/07/computer-training-courses.png">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="https://www.seokarachi.com/wp-content/uploads/2017/05/Computer-Short-Courses-Pakistan.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="http://cdn.yourarticlelibrary.com/wp-content/uploads/2013/12/b846.jpg">
            </div>
        </div>
    </div>
</div>











