<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-xs-2">
                <a class="navbar-brand" href="#/instructor/{{model.instructorId}}/course/course-landing">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="hidden-sm hidden-xs">CS9999</span>
                </a>
            </div>
            <div class="col-md-6 col-xs-8 navbar-brand">
                Edit Course content
            </div>
            <div class="col-md-1 col-xs-1 nav-bar-plus">
                <a href="#/instructor/{{model.instructorId}}/course/course-landing">
                    <span class="glyphicon glyphicon-ok pull-right span-plus" aria-hidden="true"></span>

                </a>
            </div>
        </div>
    </div>
</nav>