
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-xs-2">
                <a class="navbar-brand" href="#!/">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="hidden-sm hidden-xs">CS9999</span>
                </a>
            </div>
            <div class="col-md-6 col-xs-8 navbar-brand">
                Edit Course content
            </div>
            <div class="col-md-1 col-xs-1 nav-bar-plus">
                <a href="#!/>
                    <span class="glyphicon glyphicon-ok pull-right span-plus" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 hidden-sm hidden-xs website-new-column website-new-border">
            <ul class="list-group">
                <li class="list-group-item boarder-none"
                    ng-repeat="list in model.lists">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="#/instructor/:instructorId/course/:courseId/general">
                                {{list}}
                            </a>
                        </div>
                        <div class="col-xs-1">
                            <a href="#!/general">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-md-8 website-new-column">
            <label for="name">Course Name</label>
            <input id="name"
                   class="form-control"
                   ng-model="course.name"
                   value="Course Name"
                   type="text"
                   placeholder="course name"/>

            <label for="description">
                Course Description
            </label>
            <textarea id="description"
                      rows="8"
                      ng-model="course.description"
                      class="form-control">
            </textarea>





            <a class="btn btn-block btn-success"
               ng-click="model.updateCourse(course)">update</a>

            <a class="btn btn-block btn-danger"
               ng-click="model.deleteCourse(course)">delete</a>


        </div>
    </div>
</div>

