
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-xs-2">
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="hidden-sm hidden-xs">CS9999</span>
                </a>
            </div>
            <div class="col-md-6 col-xs-8 navbar-brand">
                Edit Course content
            </div>
            <div class="col-md-1 col-xs-1 nav-bar-plus">
                <a href="website-list.html">
                    <span class="glyphicon glyphicon-ok pull-right span-plus" aria-hidden="true"></span>

                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 hidden-sm hidden-xs website-new-column website-new-border">
            <ul class="list-group">
                <li class="list-group-item boarder-none"
                    ng-repeat="list in model.lists">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="#/instructor/:instructorId/course/:courseId/general">
                                {{list}}
                            </a>
                        </div>
                        <div class="col-xs-1">
                            <a href="#!/general">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>


        <div class="col-md-8 ">
            <label for="Requirements">
               Requirements
            </label>
            <ul class="list-group">
                <li class="list-group-item no-border">
                    <div class="row">
                        <div class="col-xs-10">
                            <input class="form-control"
                                   value="Have a computer with Internet"
                                   ng-model="model."
                                   type="text">
                            </input>
                        </div>
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-remove  pull-right btn btn-danger"
                                  aria-hidden="true">
                            </span>
                        </div>
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-ok pull-right btn btn-success"
                                  aria-hidden="true">
                            </span>
                        </div>
                    </div>


                </li>
                <li class="list-group-item no-border">
                    <div class="row">
                        <div class="col-xs-10">
                            <input class="form-control"
                                   value="Be ready to learn an insane amount of awesome stuff"
                                   ng-model="model.requirements"
                                   type="text">
                            </input>
                        </div>
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-remove  pull-right btn btn-danger"
                                  aria-hidden="true">
                            </span>
                        </div>
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-ok pull-right btn btn-success"
                                  aria-hidden="true">
                            </span>
                        </div>
                    </div>


                </li>
                <li class="list-group-item no-border">
                    <div class="row">
                        <div class="col-xs-10">
                            <input class="form-control"
                                   value="Prepare to build real web apps!"
                                   ng-model="model.requirements"
                                   type="text">
                            </input>
                        </div>
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-remove  pull-right btn btn-danger"
                                  aria-hidden="true">
                            </span>
                        </div>
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-ok pull-right btn btn-success"
                                  aria-hidden="true">
                            </span>
                        </div>
                    </div>


                </li>
                <li class="list-group-item no-border">
                    <div class="row">
                        <div class="col-xs-10">
                            <input class="form-control"
                                   value="Brace yourself for stupid jokes about my dog Rusty"
                                   ng-model="model.requirements"
                                   type="text">
                            </input>
                        </div>
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-remove  pull-right btn btn-danger"
                                  aria-hidden="true">
                            </span>
                        </div>
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-ok pull-right btn btn-success"
                                  aria-hidden="true">
                            </span>
                        </div>
                    </div>


                </li>
                <li class="list-group-item no-border">
                    <div class="row">
                        <div class="col-xs-10">
                            <input class="form-control"
                                   type="text"
                                   ng-model="model.requirements"
                                   placeholder="Please add new requirement for this course">
                            </input>
                        </div>
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-plus   btn btn-primary"
                                  aria-hidden="true">
                            </span>
                        </div>

                    </div>


                </li>
            </ul>
        </div>



        </div>
    </div>







