<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../../../vendor/angular/angular.min.js"></script>
    <script src="../app.js"></script>
    <script src="../controller/login.controller.view.js"></script>
    <link href="../../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../css/styles.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <h1>Login</h1>

    <div ng-show="message" class="alert alert-info">{{model.message}}</div>

    <label for="username">Username</label>
    <input ng-model="username"
           type="text"
           id="username"
           class="form-control"
           placeholder="bob123"/>

    <label for="username">Password</label>
    <input ng-model="password"
           type="password"
           id="password"
           class="form-control"
           placeholder="qwer1234zxcv"/>

    <a ng-click="login(username, password)"
       class="btn btn-primary btn-block">
        Login
    </a>

    <a class="btn btn-success btn-block"
       href="#!/register">
        Register
    </a>

</body>
</html>